:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color:  #FFFFFF;
  --black-color: #000000;
  --background-our-team: #F5F4FA;
  --background-hero-footer: #2F303A;
  --accent-color: #2196F3;
  --button-active: #188CE8;
  --body-color: #F5F5F5;
  --bottom-color: #ECECEC;
}

body { 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*-------------------header-------------------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  background: var(--white-color);
  flex-direction: row;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--bottom-color);
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-logo{
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  margin: 32px 344px 32px 93px;
  display: flex;
  gap: 50px;
}

.header-link:hover {
  color: var(--accent-color)
}

.studio:visited,
.portfolio:visited {
  color: var(--accent-color)
}

.word-studio-1 {
  color: var(--secondary-text-color);
}

.header-contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display:flex;
  color: var(--secondary-text-color);
  gap: 50px;

}

.mail,
.tel {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.mail:hover,
.tel:hover {
  color: var(--accent-color);
}

/*-------------------hero-------------------*/

.banner {
  background: var(--background-hero-footer);
  padding: 200px 0;
}

.banner-title {
  font-weight: 900;
  font-size: 44px; 
  line-height: 1.36; 
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto;
}

.banner-button {
  border: 0;
  border-radius: 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.banner-button:hover {
  background: var(--button-active);
}

.hero-item {
  width: 270px;
  height: 98px;
}

.hero-item:nth-child(2),
.hero-item:nth-child(3) {
  height: 74px;
}

.hero-list {
  display: flex;
  gap: 30px;
}

.hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.hero-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}

.hero {
  padding-top: 94px;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.projects-list {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-90px)/4);
  text-align: center;
}

.team {
  background: var(--background-our-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.description {
  background: var(--white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.team-boarder {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  padding-left: auto;
  padding-right: auto;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  
}

/*------------------- portfolio -------------------*/

main {
  color: var(--background-our-team);
}

.filter-container {
margin-bottom: 50px;
}

.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.filter-btn {
  border: 0;
  border-radius: 0;
  color: var(--secondary-text-color);
  background: var(--background-our-team);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:visited,
.filter-btn:visited {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.btn-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.project {
  padding-bottom: 94px;
  padding-top: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portfolio-description {
  background: var(--white-color);
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color); 
}

/*-------------------footer-------------------*/

footer {
  background: var(--background-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.word-studio-2 {
  color: var(--white-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-tel:hover {
  color: var(--accent-color);
}

.adds {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
}

.adds:hover {
  color: var(--accent-color);
}